* {
	font-family: calibri;
}

body {
	padding: 5% 7% 0% 7%;
}

#menu {
	position: absolute;
	border-style: none;
	background-color: rgba(0, 0, 0, 0);

}

#profile {
	border-style: none;
	background-color: rgba(0, 0, 0, 0);
	padding-left: 85%;
}

.greetings h1 {
	color: #030F2C;
	padding-top: 3.5%;
	font-size: 12vw;
}

.greetings p {
	color: #AAA;
	font-size: 4.5vw;
	font-weight: bold;
	margin-top: -10%;
	margin-bottom: 7%;
}

.greetings input[type=text] {
	padding: 3%;
	padding-left: 5%;
	font-size: 4.5vw;
	outline: none;
	border-style: none;
	border-radius: 10vw;
	background-color: #E6F3FF;
	width: 75%;
}

.greetings input[type=text]::placeholder {
	color: #BBB;
}

.greetings input[type=text]:focus {
	background-color: #CCE6FF;
}

.greetings #search {
	position: absolute;
	background-color: rgba(0, 0, 0, 0);
	border-style: none;
	margin-left: -10%;
	padding-top: 2.1%;
}

.greetings #settings {
	position: absolute;
	background-color: #E6F3FF;
	border-style: none;
	border-radius: 5vw;
	height: 5.4%;
	width: 11%;
	margin-left: 1%;
}

.greetings #settings:active {
	background-color: #CCE6FF;
}

.nav {
	margin: 0% -10% 0% -10%;
}

.nav button {
	background-color: #CAE6FF;
	color: #758BC4;
	font-weight: bold;
	padding: 1.5%;
	font-size: 5vw;
	border-style: solid;
	border-color: black;
	border-width: 0.1vw;
	border-radius: 3vw;
	margin: 5% 1.5% 0% 1.5%;
	width: 27%;
}

.nav button:focus {
	background-color: #758BC4;
	color: #CAE6FF;
}